@model IEnumerable<Cianfrusaglie.Models.Announce>

@{
    ViewData["Title"] = "I miei annunci";
}


<div class="panel panel-body" >
    <div class="panel panel-default" >

        <div class="panel-heading" id="my-conversations" >
            <h3>I miei annunci</h3>
        </div>
        <div class="panel-body">
            <div class="panel-group" id="panel-524234">
                @foreach (var item in Model)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#panel-524234" href="#announce-number-@item.Id">
                            <a class="panel-title"  >
                                <span>@item.Title </span> 
                                <span style="float: right"> Pubblicato il: @item.PublishDate </span>
                            </a>
                        </div>
                        <div id="announce-number-@item.Id" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group">

                                    <div class="col-md-12" >
                                        @if( item.Images.Any() ) {
                                            <img src="@item.Images.First().Url"/>
                                        }
                                        <a href="~/Announces/Details/?id=@item.Id" >Visualizza annuncio</a> <br />
                                        <a href="~/Announces/Delete/?id=@item.Id" >Elimina annuncio</a> <br />
                                        <a href="#" >Visualizza utenti interessati</a> @* Aggiungere link alla futura pagina degli utenti interessati *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>