@model Cianfrusaglie.ViewModels.History.MyHistoryViewModel

@{
    ViewData["Title"] = "Il mio storico";
}

<h2>MyHistory</h2>

<div>
    <h4>MyHistoryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
