@model Cianfrusaglie.ViewModels.InterestedAnnounce.InterestedAnnounceViewModel

@{
    ViewData["Title"] = "Gli Interessati all'annuncio " + Model.Announce.Title;
}

<div class="panel-body" >
    <div class="panel panel-default">
        <div class="panel-heading" id="my-conversations">
            <h3>@ViewData["Title"]</h3>
        </div>

        @if (!Model.InterestedUsers.Any())
        {
            <div class="panel-group" >
                <div class="panel-body" style="text-align: center">
                    Non ci sono persone interessate a questo Annuncio!
                </div>
            </div>
        }
        else {
            <div class="panel-body">
                @foreach (var user in Model.InterestedUsers)
                {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-1">
                                <div class="photo">
                                    <img class="img-responsive" src="@user.ProfileImageUrl" />
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <h4> @user.UserName</h4>
                                @*<h4>Rating!</h4>*@
                            </div>
                            <div class="col-md-6">
                                <h4><a href="~/Messages/Create/?id=@user.Id" >Contatta</a></h4>

                                @{
                                    const string chosenuserid = "chosenUserId";
                                }
                                @if( ViewData.ContainsKey( chosenuserid ) ) {
                                    if( ViewData[ chosenuserid ].Equals( user.Id ) ) {
                                        <h4><a href="#" >Scelto come Destinatario</a></h4>
                                        <h4><a href="~/Feedback/Create?announceId=@Model.Announce.Id&receiverId=@Model.Announce.AuthorId">Lascia una recensione all'Autore</a></h4>
                                    }
                                    else {
                                        const string allotherschosenuserid = "allOthersChosenUserId";
                                        if (((IEnumerable<string>)ViewData[allotherschosenuserid]).Contains(user.Id))
                                        {
                                            <h4><a href="#" >L'Autore ha scelto un altro Destinatario.</a></h4>
                                            <h4><a href="~/Feedback/Create?announceId=@Model.Announce.Id&receiverId=@Model.Announce.AuthorId">Lascia una recensione all'Autore</a></h4>
                                        }
                                    }
                                }
                                else {
                                    <h4><a href="~/InterestedAnnounce/ChooseUserAsReceiverForAnnounce?userId=@user.Id&announceId=@Model.Announce.Id">Scegli come destinatario</a></h4>
                                }
                               </div>
                        </div>
                    </div>
                </div>
                }
            </div>

        }
    </div>
</div>
