<html>
<head>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Header.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Register.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/Create.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/SubmitAnnounce.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">



</head>
<body>
    <div id="wrap">
        <div id="pageHeader" class="container ">
            <form class="navbar-form" role="search">
                <div id="title" class="col-md-3">
                    <a href="">
                        <h1>
                            nonhounnome.it
                        </h1>
                        <h5>Il posto giusto per le tue cianfrusaglie</h5>
                    </a>
                </div>
                <div id="barraRicerca" class="form-group">
                    <input type="text" class="form-control" placeholder="Cerca" size="75">
                    <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-search"></span></button>
                    <br/><a href="#">Ricerca Avanzata</a>
                </div>
                <div id="icone" class="form-horizontal">

                </div>
            </form>
        </div>

        
        @RenderBody()
        </div>

    <div id="footer" class="panel-footer">
        Copyright © 2016 Mugugno / All rights reserved.
    </div>
   
</body>
</html>