@if( User.IsSignedIn() ) {
    <form asp-action="LogOff" asp-controller="Account" class="navbar-right" id="logoutForm" method="post" >
        <ul class="nav navbar-nav navbar-right" >
            <li>
                <a asp-action="Index" asp-controller="Manage" title="Manage" >Hello @User.GetUserName()!</a>
            </li>
            <li>
                <button class="btn btn-link navbar-btn navbar-link" type="submit" >Log off</button>
            </li>
        </ul>
    </form>
} else {
    <ul class="nav navbar-nav navbar-right" >
        <li>
            <a asp-action="Register" asp-controller="Account" >Register</a>
        </li>
        <li>
            <a asp-action="Login" asp-controller="Account" >Log in</a>
        </li>
    </ul>
}