@{
    ViewData["Title"] = "Cianfrusaglie.it";
}

<div id="pageHeader" class="container text-center" >

   <div class="container">
       <h1>@ViewData["Title"]</h1>
   </div>

</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="www.google.it">Home</a>
            </li>
            <li>
                <a href="www.google.it">Ricerca per Categoria</a>
            </li>
            <li>
                <a href="Account/Register">Registrazione</a>
            </li>
            <li>
                <a href="Account/Login">Login</a>
            </li>
        </ul>
    </div>
</nav>
<form class="form-horizontal">
    <div class="container">
        <div id="researchBarContainer" class="form-group col-sm-10" >
            <div class="container">
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="researchBar" />
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-warning">Cerca!</button>
                </div>
            </div>
            <a href="#">Ricerca Avanzata</a>
        </div>
        <div class="container col-sm-2" >
            <button type="button" class="btn btn-warning">Registrati!</button>
        </div>
    </div>
</form>
<div id="homeCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
        <li data-target="#homeCarousel" data-slide-to="3"></li>
        <li data-target="#homeCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            Regala i tuoi oggetti
        </div>
        <div class="item">
            Cerca oggetti in regalo
        </div>
        <div class="item">
            Se sei registrato sei bello :3
        </div>
        <div class="item">
            Pubblicità
        </div>
        <div class="item">
            Oggetti in Vendita
        </div>
    </div>
    <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="panel-footer">
    Noi abbiamo un bel Footer perchè siamo i Mugugno.
</div>
