@{
    ViewData["Title"] = "Cianfrusaglie.it";
}

<div id="pageHeader" class="container ">
    <form class="navbar-form" role="search">
        <h1 class="col-md-3">questo<strong>e</strong>quello</h1>
        <div id="barraRicerca" class="form-group col-sm-12">
            <input type="text" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            <a href="#">Ricerca Avanzata</a>
        </div>
    </form>
</div>


<nav id="horizontalMenu" class="navbar navbar-default">
        <ul class="nav navbar-nav" id="menuRight">
            <li>
                <a href="Account/Register" id="regLink"><span class="glyphicon glyphicon-user"></span> Registrazione</a>
            </li>
            <li>
                <a href="Account/Login" id="logLink"><span class="glyphicon glyphicon-log-in"> Login</a>
            </li>
        </ul>
</nav>

<div id="homeCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
        <li data-target="#homeCarousel" data-slide-to="3"></li>
        <li data-target="#homeCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/29/X-Site/Goldbox/2016/it_xsite_goldbox_1500x300._CB293654318_.jpg" />
        </div>
        <div class="item">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/29/_home_and_kitchen/2015/DesignShop/Redesign/BigGraphics/IT_Home_Desingshop-restyle_25-6-2015_4500x900._UX1500_SX1500_CB317222603_.jpg" />
        </div>
        <div class="item">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/29/_tools/billboard/it_tools_08-03-2016_professional-store_1500x300._CB294026631_.jpg" />
        </div>
        <div class="item">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/29/prime/2016/shipping_benefit/IT_Prime-shipping-visuals_11-04-2016_1500x300._CB274900098_.jpg" />
        </div>
        <div class="item">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/29/kindle/merch/2016/campaigns/mday/mday-gw-d-it-1500x300._CB275612559_.jpg" />
        </div>
    </div>
    <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="footer" class="panel-footer">
    Noi abbiamo un bel Footer perchè siamo i Mugugno.
</div>

