@using System.Threading.Tasks
@model  Cianfrusaglie.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div id="wrapper-register">
    <div id="register">
        <h1>
            <a href="">CIANFRUSAGLIE.it</a>
        </h1>
        <form asp-action="Login" asp-controller="Account" class="form-horizontal form-register" method="post" role="form">

            <h2>
                <strong>Accedi</strong>
            </h2>
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Username</label><br />
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label><br />
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br /><button class="btn btn-default" type="submit">Accedi</button>
            </div>
            <h4>Se non sei ancora registrato, <a href="">clicca qui</a></h4>
        </form>
    </div>
</div>
@*@section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }*@