@using System.Threading.Tasks
@using Cianfrusaglie.Constants
@inject SignInManager<User> SignInManager
@model Cianfrusaglie.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "";
}


<html>
<head>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js" ></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
        
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" type="text/css" />
    <link href= "https://fonts.googleapis.com/css?family=Source+Sans+Pro"  rel="stylesheet" type="text/css" >
    <link href= "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  rel="stylesheet" type="text/css" />
    <link href= "~/Content/Register.css"  rel="stylesheet" type="text/css" />
    <link href= "~/Content/Style.css"  rel="stylesheet" type="text/css" />
    <link href= "~/Content/Search.css"  rel="stylesheet" type="text/css" />
    <link href= "https://fonts.googleapis.com/css?family=Lato"  rel="stylesheet" type="text/css" >


</head>
<body>
<div id="wrapper-register" >
    <div id="register" >
        <div class="form-register">
            <form asp-action="Login" asp-controller="Account" class="form-horizontal" id="tabellaForm" method="post" role="form">
                <h1>
                    <a href="~/">@CommonStrings.SiteName</a>
                </h1>
                <h5>Il posto giusto per le tue cianfrusaglie</h5>
                <hr />

                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">Username</label><br />
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label><br />
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <br /><button class="btn btn-warning" type="submit">Accedi</button>
                </div>

                <span id="sottoForm"><h5>Se non sei ancora registrato, <a href="~/Account/Register">clicca qui</a></h5></span>
            </form>
            <hr />
            <br />
            @{

                var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                if (loginProviders.Count == 0)
                {
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-block btn-social btn-facebook" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account"><span class="fa fa-facebook"></span> Login con Facebook</button>

                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </div>
       
    </div>
</div>
</body>
</html>