@using System.Threading.Tasks
@model  Cianfrusaglie.ViewModels.Account.RegisterViewModel 
@{
    ViewData[ "Title" ] = "Register";
}
<div id="wrapper-register">
    <div id="register">
        <h1><a href="~/">questo<strong>e</strong>quello</a>
        </h1>
        <form asp-action="Register" asp-controller="Account" class="form-horizontal form-register" method="post" role="form">

            <h2><strong>Registrati</strong>
            </h2>
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Username</label><br />
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
               
            </div>
            
            <div class="form-group">
                <label asp-for="Email" class="control-label">Indirizzo email</label><br/>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label><br/>
                <input asp-for="Password" type="password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Ripeti password</label><br/>
                <input asp-for="ConfirmPassword" type="password" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>
            <div class="form-group">
                <br/><button class="btn btn-default" type="submit">Crea il tuo account</button>
            </div>
            <span id="sottoForm"><h5> <a href="~/Account/Login">Effettua l'accesso</a></h5></span>

        </form>
    </div>
</div>
@*@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}*@