@using System.Security.Cryptography
@model Cianfrusaglie.Models.Announce

@{
    ViewData["Title"] = "CreateDescriptionAnnounce";
}

@functions
{
    private IEnumerable<String> GetCategories()
    {
        for (var i = 0; i < (ViewData["numberOfCategories"] as int? ?? 0); i++)
        {
            var categories = ViewData["formCategories"] as List<Category>;
            if (categories != null && categories[i].OverCategory == null)
                yield return categories[i].Name;
        }
    }

    private IEnumerable<String> GetSubCategories(String macro)
    {
        for (var j = 0; j < (ViewData["numberOfCategories"] as int? ?? 0); j++)
        {
            var subCat = ViewData["formCategories"] as List<Category>;
            if (subCat != null && subCat[j].OverCategory != null && subCat[j].OverCategory.Name == macro)
                yield return subCat[j].Name;
        }
    }

}


<div id="wrap">

    <div class="panel-group col-md-3" id="panelCategorie">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title" data-toggle="collapse" data-parent="#panelCategorie">Seleziona le categorie </a>
            </div>
            <div class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group">
                        @foreach (var cat in GetCategories())
                        {
                            <div class="checkbox">
                                <label><input id="@(cat)+'Check'" type="checkbox" value="">@cat</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="insTag">
        <div class="col-md-6">
            <div class="panel-group" id="panel-423221">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-423221" href="#panel-element-487057">Categoria #3</a>
                    </div>
                    <div id="panel-element-487057" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="checkboxes">Sottocategorie:</label>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label for="checkboxes-0">
                                            <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                                            Sottocategoria #1
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label for="checkboxes-1">
                                            <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                                            Sottocategoria #2
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="infoObbligatorie">
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">
                        Email address
                    </label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">
                        Password
                    </label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">
                        File input
                    </label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">
                        Example block-level help text here.
                    </p>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Check me out
                    </label>
                </div>
                <button type="submit" class="btn btn-default">
                    Submit
                </button>
            </form>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</div>
