@model Cianfrusaglie.Models.Announce

@{
    ViewData["Title"] = "CreateDescriptionAnnounce";
}

<h2>CreateDescriptionAnnounce</h2>

@functions
{
    private IEnumerable<String> GetCategories()
    {
        for (var i = 0; i < (ViewData["numberOfCategories"] as int? ?? 0); i++)
        {
            var categories = ViewData["formCategories"] as List<Category>;
            if (categories != null && categories[i].OverCategory == null)
                yield return categories[i].Name;
        }
    }

}
<form asp-action="CreateDescriptionAnnounce">
    <div class="form-horizontal">
        <h4>Descrizione dell'articolo</h4>
        <hr/>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            @foreach (var c in GetCategories())
            {
                <p>@c</p>
            }
        </div>
        <div class="form-group">
            <label asp-for="DeadLine" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DeadLine" class="form-control" />
                <span asp-validation-for="DeadLine" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PublishDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Range" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Range" class="form-control" />
                <span asp-validation-for="Range" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
