@model Cianfrusaglie.ViewModels.MessageCreateViewModel

<form asp-action="Create" asp-controller="Messages" class="form-horizontal form-register" method="post" role="form" id="tabellaForm">

    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

    <div class="form-group" >
        <label asp-for="Text" class="control-label" >Messaggio</label><br />
        <input asp-for="Text" class="form-control" />
        <span asp-validation-for="Text" class="text-danger"></span>
        
        <input asp-for="ReceiverId" type="hidden" value="@ViewData[ "receiverId" ]" class="form-control" />

        <button class="btn btn-default" type="submit">
            Submit
        </button>
    </div>
</form>
