@using System.Collections.Generic
@using System.Security.Claims
@using System.Threading.Tasks
@model System.Collections.Generic.IEnumerable<Cianfrusaglie.Models.Message>

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    @{
        var otherUser = ViewData[ "otherUser" ] as User;
        foreach( var m in Model ) {
            <div> @if( m.Receiver.Id.Equals( User.GetUserId() ) ) {
                      <span> <h3> Inviato da: @otherUser.UserName </h3> </span>
                  } else {
                      <span> <h3> Inviato da: Me </h3> </span>
                  }
            </div>
            <div>
                <h4> @m.Text </h4>
            
            </div>
        }
    }
</div>
<p>
    <a asp-action="Index">Back to List</a>
</p>
