@model IEnumerable<Cianfrusaglie.Models.Announce>

@{
    ViewData["Title"] = "Gli annunci che mi interessano";
}


<div class="panel panel-body">
    <div class="panel panel-default">

        <div class="panel-heading" id="my-conversations">
            <h2>Gli annunci che mi interessano</h2>
        </div>
        <div class="panel-body">
            <div class="panel-group" id="panel-524234">
                @if (Model.Any())
                {

                    foreach (var item in Model)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#panel-524234" href="#announce-number-@item.Id" style="cursor: pointer">

                                <span style="float: right"> Pubblicato il @item.PublishDate </span>
                                <span style="font-size:1.5em"><b>@item.Title</b></span>
                            </div>
                            <div id="announce-number-@item.Id" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-1">
                                            @if (item.Images.Any())
                                            {
                                                <div class="photo">
                                                    <img class="img-responsive" src="@item.Images.First().Url" />
                                                </div>
                                            }
                                        </div>
                                        <div class="col-md-9">

                                            <a href="~/Announces/Details/?id=@item.Id">Visualizza annuncio</a> <br />
                                            <a href="~/Messages/Create/?id=@item.AuthorId">Contatta</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div style="text-align: center;">Non sei interessato ad alcun annuncio!</div>
                }

            </div>
        </div>
    </div>
</div>