#create {
    margin: auto;
    padding-top: 4em;
    width: 50%;
}

.form-create {
    -ms-border-radius: 10px;
    background: #fff;
    border: 1px solid #b8b8b8;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.2 ), 0 6px 20px 0 rgba( 0, 0, 0, 0.19 );
    font-size: 1em;
    padding: 1.5em;
    padding-top: 4em;
}

.form-create h2 { font-weight: 100; }

#create h1 {
    font-size: 2.5em;
    text-align: center;
}

.nextprev{
  position:relative;
  margin-left:25%;
  margin-right:25%;
}
#page1 .col-md-6{
    padding:0;
}

#panel-423221{
    padding-right:1em;
}
button .disabled {
    opacity: 0.65;
    cursor: not-allowed;
}
#create h1 a {
    color: #FFC107;
    text-decoration: none;
}

.form-create input {
    font-weight: 100;
    height: 2.2em;
    margin-bottom: 1.2em;
    padding: .2em;
    width: 100%;
}

.form-create h4 {
    margin: 0;
    padding: 0;
    text-align: left;
}

.form-create h4 a {
    color: #FFC107;
    font-size: 1em;
    font-weight: 100;
}

.form-create button[ type = "submit" ] {
    background: #FFC107;
    background: -webkit-linear-gradient( #FFC107, #FFE082 ); /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient( #FFC107, #FFE082 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #FFC107, #FFE082 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #FFC107, #FFE082 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #FFC107, #FFE082 ); /* Standard syntax */
    border: 1px solid #BD900A;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    height: 2.8em;
    margin-bottom: 1.2em;
    padding: 0;
    width: 100%;
}

.panel-group { margin-top: 15px; }

#page1, #page2{
  position:relative;
  /*margin-left:25%;
  margin-right:25%;*/
}
h5 {
    margin-left: 1em;
      /*  font-weight: bold;*/
}

#sceltaCategorie {
    padding:0.2em;
    background-color: #ffe186;
    /*opacity: 0.5;*/

    

 /* width: 42.5em;
  margin-left:1.5em ;*/
 /*padding-left: 2em;
 padding-right: 2em;*/
 /*border-left: 5px solid black;
 border-right: 5px solid black;*/
}


#forward-button{
    width:40%;
    margin-left:2em;
    float:right;
}

#back-button{
    width:40%;
    float:left;
}