#container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
#title {
     padding-left:0;
    padding-right: 0;
   float: left;
}

#title a {
    color:#FFC107;
    text-decoration: none;
    text-align: center;
}
.affix {
      top: 0;
      width: 100%;
  }

.affix + .container-fluid {
      padding-top: 60px;
}

#wrap h1{
    font-family: 'Lato', sans-serif;
    color:#FFC107;
    margin-bottom:0;
    margin-top:10px;
    font-size:3em;
    text-align: center;
}

#wrap h5{
    font-family: 'Lato', sans-serif;
    color:#FFC107;
    margin-top:0;
    text-align: center;
}



#linkHome {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:0;
    padding-right:0;
    text-align: center
}

#linkHome span {
    top: 50%;
    transform: translateY(-50%);
}

#linkRegala, #LinkVendi, #linkBaratta {
    padding-bottom:0;
    padding-left: 100px;
    padding-right: 100px;
    font-size: large;
    font-style:italic; 
    color: #333333;
}

.btn-round.btn-lg {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 6px 6px;
    font-size: 60px;
    line-height: 2;
    border-radius: 100px;
}

#horizontalMenu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    z-index:2;
}


#menuRight {
   float: right;
}

.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li  {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight:300;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: orange;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

.sub-menu {
    display: inline-block;
    left: 100%;
    position: absolute;
    top: -1px;
    visibility: hidden;
    margin-top: 10px;
    bottom: 0;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.panel-heading {
    margin-bottom: 0;
}


.dropdown-menu .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.dropdown-menu .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

#vetrinaAnnunci {
    display: flex;
    justify-content: center;
}

#panelAnnunci {
    align-self: center;
}

hr {
    border-color: #c7c7c7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    margin-top: 0;
}
