#container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid { padding-top: 60px; }

.info h3{
    margin:0;
}
#title h1 {
    color: #FFC107;
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}
.photoThu  {
  max-height:200px;
  overflow:hidden;
}

.photoThu img {
   width:100%;
   min-height:15em;
   /*height: 15em;*/
}
#title h5 {
    color: #FFC107;
    font-family: 'Lato', sans-serif;
    margin-top: 0;
    text-align: center;
}

#linkHome {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    text-align: center
}

#linkHome span {
    top: 50%;
    transform: translateY( -50% );
}
#linkVendi span, #linkBaratta span {
    left: -4px;
}

#linkRegala, #LinkVendi, #linkCerca {
    color: black;
    padding-bottom: 0;
    padding-left: 100px;
    padding-right: 100px;
}

.btn-round.btn-lg {
    border-radius: 100px;
    font-size: 60px;
    height: 100px;
    line-height: 2px;
    padding: 6px 6px;
    text-align: center;
    width: 100px;
}
.btn-round.btn-sm {
    border-radius: 50px;
    font-size: 30px;
    height: 50px;
    padding: 6px 6px;
    text-align: center;
    width: 50px;
}
.btn-round.btn-sm.card-img {
    position:absolute;
    top:0;
}


#menuRight { float: right; }

.dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 0px;
    z-index: 110;
}

.dropdown-menu-large > li > ul {
    margin: 0;
    padding: 0;
}

.dropdown-menu-large > li > ul > li { list-style: none; }

.dropdown-menu-large > li > ul > li > a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: 300;
    line-height: 1.428571429;
    padding: 3px 20px;
    white-space: normal;
}

.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    background-color: #f5f5f5;
    color: #262626;
    text-decoration: none;
}

.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus { color: #999999; }

.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    background-color: transparent;
    background-image: none;
    cursor: not-allowed;
    filter: progid:DXImageTransform.Microsoft.gradient( enabled = false );
    text-decoration: none;
}

.dropdown-menu-large .dropdown-header{
    color: orange !important;
    font-size: 18px;
}

@media ( max-width: 768px ) {
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu-large > li { margin-bottom: 30px; }

    .dropdown-menu-large > li:last-child { margin-bottom: 0; }

    .dropdown-menu-large .dropdown-header { 
         padding: 3px 15px !important;
        color: orange;
    }
}

.WantOrange {
    padding: 3px 15px !important;
    color: orange !important;
}


.sub-menu {
    bottom: 0;
    display: inline-block;
    left: 100%;
    margin-top: 10px;
    position: absolute;
    top: -1px;
    visibility: hidden;
    
}

.dropdown-menu li:hover .sub-menu { visibility: visible; }

.dropdown:hover .dropdown-menu { display: block; }

.panel-heading { margin-bottom: 0; }


.dropdown-menu .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba( 0, 0, 0, 0.2 );
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.dropdown-menu .sub-menu:after {
    border-bottom: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-top: 6px solid transparent;
    left: 10px;
    left: -6px;
    top: 11px;
}

.panel-body { height: auto; }

hr {
    border-color: #c7c7c7;
    box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.2 ), 0 2px 5px 0 rgba( 0, 0, 0, 0.19 );
    margin-top: 0;
}

/*CAROUSEL FIGO ANNUNCI*/

@import url( http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css );

.col-item {
    background: #FFF;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12),0 2px 10px 0 rgba(0,0,0,0.09);
}

.col-item .santinoHome {
    width: 264px;
    height: 396px;
    text-wrap: normal;
}

.col-item .photo img {
    margin: 0 auto;
    width: 100%;
}

.col-item .info {
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
    padding: 20px;
}

.col-item .price {
    /*width: 50%;*/
    float: left;
    margin-top: 0;
}

.col-item .price h5 {
    line-height: 20px;
    margin: 0;
}

.price-text-color { color: #219FD1; }

.col-item .info .rating { color: #777; }

.col-item .rating {
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    height: 52px;
    line-height: 52px;
    margin-bottom: 10px;
    text-align: right;
}

.col-item .separator { border-top: 1px solid #E1E1E1; }

.clear-left { clear: left; }

.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i { margin-right: 5px; }

.col-item .btn-add {
    float: left;
    width: 50%;
}

.col-item .btn-add { border-right: 1px solid #E1E1E1; }

.col-item .btn-details {
    float: left;
    padding-left: 10px;
    width: 50%;
}
