#wrapper-register {

    /*background: -webkit-gradient( radial, center center, 0, center center, 460, from( #fff ), to( #EAEAEA ) );

    background: -webkit-radial-gradient( circle, #fff, #EAEAEA );

    background: -moz-radial-gradient( circle, #fff, #EAEAEA );

    background: -ms-radial-gradient( circle, #fff, #EAEAEA );*/
    /*Leggero gradiente*/
    background-color: #EAEAEA;
    /*background-position: center center;
    background-repeat: no-repeat;*/
    bottom: 0;
    left: 0;
    margin: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.top-reg span{
    margin-right: 20px;
}
.btn-gr{
    background-color: lightgrey;
}

#register {
    margin: auto;
    padding-top: 2em;
    width: 600px;
}

#tabellaForm { margin-top: 10px; }

#register i { color: #d4d4d4; }

.form-register {
    background: #fff;
    border: 1px solid #b8b8b8;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.2 ), 0 6px 20px 0 rgba( 0, 0, 0, 0.19 );
    font-size: 1em;
    padding: 1.5em;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 4em;
    padding-bottom: 2em;
    position:absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 40px;

}

.form-register h2 { font-weight: 100; }

#register h1 {
    font-size: 2.5em;
    text-align: center;
}

#register h5 {
    color: #FFC107;
    text-align: center;
}

#register h1 a {
    color: #FFC107;
    text-decoration: none;
}

.form-register2, .form-register3{
    display: none;
}
.form-register input[type="password"],  input[type="email"], input[type="text"] {
    font-weight: 100;
    height: 2.2em;
    padding: .2em;
    width: 70%;
}
#pac-input{
    font-weight: 100;
    height: 2.2em;
    padding: .2em;
    width: 70% !important;
    margin-left:0 !important;
}
.form-register input[type="radio"]{
    height: 15px;
    width: 15px;
    
}
#sottoForm h5 {
    margin: 0;
    padding: 0;
    text-align: right;
}
.btn-next, .btn-back{
    background-color:#f0ad4e !important;
    border-color: #eea236;
    margin-right:20px;
    color:white;
}

.btn-next:hover, .btn-back:hover{
    background:#E39A33 !important;
    border-color: #eea236 !important;
    color:white !important;
}

#sottoForm h5 a {
    color: #f0ad4e !important;
    font-weight: 100;
}

./*form-register button[ type = "submit" ] {
    background: #FFC107;
    background: -webkit-linear-gradient( #FFC107, #FFD6A0 ); 
    background: -webkit-linear-gradient( #FFC107, #FFD6A0 );
    background: -o-linear-gradient( #FFC107, #FFD6A0 ); 
    background: -moz-linear-gradient( #FFC107, #FFD6A0 ); 
    background: linear-gradient( #FFC107, #FFD6A0 ); 
    border: 1px solid #BD900A;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    height: 2.8em;
    margin-bottom: 0;
    padding: 0;
    margin-right:20px;

}
    */
/* enable absolute positioning */

.inner-addon { position: relative; }

/* style glyph */

.inner-addon .glyphicon {
    padding: 10px;
    pointer-events: none;
    position: absolute;
}

/* align glyph */

.left-addon .glyphicon { left: 0px; }

.right-addon .glyphicon { right: 0px; }

/* add padding  */

.left-addon input { padding-left: 30px; }

.right-addon input { padding-right: 30px; }