
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}
#wrap {
  min-height: 100%;
  /* equal to footer height */
	margin-bottom: -40px; 
}
#wrap:after {
  content: "";
  display: block;
}
.badge-notify{
   background:red;
   position:relative;
   top: -10px;
   left: -30px;
   height:20px;
   width:20px;
   font-size:1.1em;
   font-family: 'Montserrat', sans-serif ;
  }

#footer, #wrap:after {
  /* .push must be the same height as footer */
	height: 142px; 
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: #ffffff;
    border: 0;
}
.navbar-default {
    border: 0 !important;
}
a, h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif; }


button { padding: 0; }
#title {
    
    padding-left: 0;
    padding-right: 0;
}
.simple-hr{

    box-shadow: 0 0 0 0;
    margin-top: 0;
}
#title a {
    color: #f0ad4e;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

.input-search input{
    width: 20em;

}
.btn-search {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    margin-left: -6px;
}


#horizontalMenu {
    box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.03 ), 0 2px 5px 0 rgba( 0, 0, 0, 0.18 );
    z-index: 20;
}
.btn-facebook, .btn-facebook:hover{
    color:white;
    text-align:center;
}
#pageHeader {
    background-color: #49586d;
    border-bottom: 1px solid;
    border-bottom-color: #FFC107;
    /*display: inline-block;*/
    min-height: 100px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
}

#websiteNavbar {
    background-color: #49586d;
    
}

.navbar-default .navbar-nav > li > a.navbar-item {
    color: white;
}
.navbar-default .navbar-nav > li > a.navbar-item:hover {
    color: #FFC107;
}
.navbar-default .navbar-nav > .open > a.navbar-item, .navbar-default .navbar-nav > .open > a.navbar-item:focus, .navbar-default .navbar-nav > .open > a.navbar-item:hover {
    background-color: #49586d;
}
.notification-icon {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.navbar-avatar {
    height: 2em;
    width: 2em;
    overflow: hidden;
}

#barraRicerca {
    /*position: absolute;
    top: 60%;
    transform: translateY( -60% );
    left:50%;
    margin-left: -20em;+*/
        margin-top:15px;

}
 #barraRicerca a{
     color:#b6c1ca;
 }

#footer {
    border-top: 1px solid;
    border-top-color: #FFC107;
    bottom: 0;
    font-weight: bold;
    height: 40px;
    text-align: center;
    width:100%;

}

#newNotification {
    color: red;
    font-size: 2em;
}

#notificationMenu {
    font-size: 2em;
}

.inputMargin {
    margin-bottom: 1em;
}

.popoverDiv {
    position: absolute;
    max-width: 50em;
}

.btn-searchadv {
    padding: 13px;

}
/* Css per mostrare le stelline dell'utente, va in combo con l'svg che non si puo' estrarre ma e' da copiaincollare*/
/* Ho fatto del mio meglio per renderlo fluido e responsive*/

        .star-container {
            height: 25px; /* !!! Se modifichi height o width causerai effetti collaterali dappertutto! */
            width: 100px; /* !!! Se modifichi height o width causerai effetti collaterali dappertutto! */
        }
        
        .star-colorbar {
            height: 40%;
            background: orange;
            z-index: -1;
            margin-top: -15%;
        }
        .star-shape {
            width: 100%;
            height: 100%;
        }
/* 
        PROTOTIPO PER L'HTML DA COPIAINCOLLARE:
        STELLINE CON IL RATING DELL'UTENTE


                            <div class="star-container" >
                                <div class="star-shape" >
                                    <svg viewbox="0 0 61 19" >
                                        <defs>
                                            <mask id="starmask" x="0" y="0" width="100" height="100" >
                                                <rect x="0" y="0" width="100%" height="100%" fill="#fff" />
                                                <text text-anchor="middle" x="50%" y="70%" dy="1" > &#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</text>
                                            </mask>
                                        </defs>
                                        <rect x="0" y="0" width="100%" height="100%" mask="url(#starmask)" fill="#fff" fill-opacity="1" />
                                        <text text-anchor="middle" x="50%" y="70%" dy="1" color="black" > &#x2606;&#x2606;&#x2606;&#x2606;&#x2606;</text>
                                    </svg>
                                </div>
                                @{ string starWidth = ( (int) ( 20 * announce.Author.FeedbacksMean ) )+"%"; }            ESTRARRE DAL DB IL VOTO MEDIO!
                                <div class="star-colorbar" style="width: @starWidth" >                             SE INSERISCI UNO SPAZIO PRIMA DEL SIMBOLO % NON FUNZIONA!
                                </div>
                            </div>
*/

.profile-avatar {
    max-height: 18em;
    overflow: hidden;
}

.feedback-thumbs {
    color: orange; 
    font-size: 2em; 
    text-align: center;
}

.feedback-thumbs:hover {
    color: dodgerblue;
}

.feedback-thumbs-permanent-hover {
    color: dodgerblue;
    font-size: 2em; 
    text-align: center;
}

.nav-tabs.centered > li, .nav-pills.centered > li {
    float:none;
    display:inline-block;
}

.nav-tabs.centered, .nav-pills.centered {
    text-align:center;
}

.panel-centered {
    text-align: center;
}

.announceTitleSantino {
    color: blue;
    word-wrap: break-word;
    cursor: pointer;
}