body {
   font-family: 'Lato', sans-serif;
   margin:0;

}

a, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

button{
    padding:0;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#pageHeader {
    width:100%;
    height:100px;
    position: relative;
    border-bottom: 1px solid;
    border-bottom-color: #FFC107;
    border-top: 1px solid;
    border-top-color: #FFC107;
    background-color: white;
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
}


#barraRicerca {
    position: absolute;
    float: left;
    top: 60%;
    transform: translateY(-60%);
}

#footer {
    height: 40px;
    bottom:0;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid;
    border-top-color: #FFC107;
}
