html{
    height: 100%;
}
body {
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: #ffffff;
    border: 0;
}
.navbar-default {
    border: 0 !important;
}
a, h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif; }

p {
   font-family: 'Roboto', sans-serif;
    color: #909090 !important;
}

button { padding: 0; }
#title {
    
    padding-left: 0;
    padding-right: 0;
}
.simple-hr{

    box-shadow: 0 0 0 0;
    margin-top: 0;
}
#title a {
    color: #f0ad4e;
    text-align: center;
    text-decoration: none;
}

.input-search input{
    width: 20em;

}
.btn-search {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    margin-left: -6px;
}

#wrap {
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -40px;
    min-height: 100%;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}
#horizontalMenu {
    box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.03 ), 0 2px 5px 0 rgba( 0, 0, 0, 0.18 );
    z-index: 20;
}

#pageHeader {
    background-color: white;
    border-bottom: 1px solid;
    border-bottom-color: #FFC107;
    display: inline-block;
    height: 100px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
}

#barraRicerca {
    position: absolute;
    top: 60%;
    transform: translateY( -60% );
    left:50%;
    margin-left: -20em;

}


#footer {
    border-top: 1px solid;
    border-top-color: #FFC107;
    bottom: 0;
    font-weight: bold;
    height: 40px;
    text-align: center;
}

#newNotification {
    color: red;
    font-size: 2em;
}

#notificationMenu {
    font-size: 2em;
}

.inputMargin {
    margin-bottom: 1em;
}

.popoverDiv {
    position: absolute;
    max-width: 50em;
}

.btn-searchadv {
    padding: 13px;

}