#wrapper-submit-announce {
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient( radial, center center, 0, center center, 460, from( #fff ), to( #EAEAEA ) );
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient( circle, #fff, #EAEAEA );
    /* Firefox 3.6+ */
    background: -moz-radial-gradient( circle, #fff, #EAEAEA );

    /* IE 10 */
    background: -ms-radial-gradient( circle, #fff, #EAEAEA );
    /*Leggero gradiente*/
    background-color: #EAEAEA;
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    height: 100%;
    margin: 0;
}

#submit-announce {
    margin: auto;
    padding-top: 4em;
    width: 50%;
}

.form-submit-announce {
    background: #fff;
    border: 1px solid #b8b8b8;
    /*-ms-border-radius: 10px;*/
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.2 ), 0 6px 20px 0 rgba( 0, 0, 0, 0.19 );
    font-size: 1em;
    padding: 1.5em;
    padding-top: 4em;
}

.form-submit-announce h2 { font-weight: 100; }

#submit-announce h1 {
    font-size: 2.5em;
    text-align: center;
}

#submit-announce h1 a {
    color: #FFC107;
    text-decoration: none;
}

.form-submit-announce input {
    font-weight: 100;
    height: 2.2em;
    margin-bottom: 1.2em;
    padding: .2em;
    width: 100%;
}

.form-submit-announce h4 {
    margin: 0;
    padding: 0;
    text-align: left;
}

.form-submit-announce h4 a {
    color: #FFC107;
    font-size: 1em;
    font-weight: 100;
}

.form-submit-announce button[ type = "submit" ] {
    background: #FFC107;
    background: -webkit-linear-gradient( #FFC107, #FFE082 ); /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient( #FFC107, #FFE082 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #FFC107, #FFE082 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #FFC107, #FFE082 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #FFC107, #FFE082 ); /* Standard syntax */
    border: 1px solid #BD900A;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    height: 2.8em;
    margin-bottom: 1.2em;
    padding: 0;
    width: 100%;
}

#checkbox { }