.dl-horizontal dt {
    white-space: normal;
    width: 50%;
    margin-bottom: 0;
}

.dl-horizontal {
   margin-bottom: 0; 
}

.dl-horizontal dd { margin-left: 52%;
    margin-bottom: 0;
}


li {
    display: inline;
}
li.divider {
    display: inherit;
}
.title-detail{
    position:relative;
    margin-bottom:2em;
}
.lovoglio, .nonLoVoglio{
    display: inline-block;
}
.right-butt{
    position:absolute;
    bottom:0;
    right:2em;
    text-align:right;
}
#wrapper-announce {
    padding-top:6em;
}
#wrapper-announce .photo{

    max-height:38em;
    overflow-y:hidden;
}
#wrapper-announce dd,dt{
    margin-bottom:1em;
}
#wrapper-announce .star-container, .btn-det{
    margin-top:-5px;
}

.title-detail-items{
    margin-top:7em;

}
#googleMap{
    /*margin: 15px;*/
    width: 100%; 
    height: 380px;
}
/*.icon-detail .icon-det:hover{
    color: lightgreen;
}*/
.icon-detail .icon-det{
    font-size:2em;
    vertical-align: middle;
    margin-right:10px;
}

#Announce {
    margin: auto;
    padding-top: 2em;
    width: 28em;
}

/*#tableAnnounce {*/

/*padding-top:4em;*/

/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size:1em;
    padding:1.5em;
    padding-left: 4em; 
    padding-right: 4em; 
    border: 1px solid #b8b8b8;
    background:#fff;*/

/*border-radius: 10px;  
    margin-top: 10px; */

/*}*/

.container-announce { padding: 2em; }

#titolo {
    color: #FFC107;
    margin:0;
    margin-left:1em;
    margin-right:5em;
    position:absolute;
    bottom:0;

}
#titolo h5{
    margin:0;
    padding:0;
    color:black;
      display: inline;
}