.dl-horizontal dt {
    white-space: normal;
    width: 50%;
    margin-bottom: 0;
}

.dl-horizontal {
   margin-bottom: 0; 
}

.dl-horizontal dd { margin-left: 52%;
    margin-bottom: 0;
}


li {
    display: inline;
}
#wrapper-announce {
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient( radial, center center, 0, center center, 460, from( #fff ), to( white ) );
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient( circle, #fff, white );
    /* Firefox 3.6+ */
    background: -moz-radial-gradient( circle, #fff, white );
    /* IE 10 */
    background: -ms-radial-gradient( circle, #fff, white );
    /*bottom:0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    position: absolute;*/
    /*Leggero gradiente*/
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 5%;
    padding-top:4em;
}
.icon-detail{
    color: lightgrey;
    display: inline-block;
    padding: 2em;
    cursor:pointer;

}
/*.icon-detail .icon-det:hover{
    color: lightgreen;
}*/
.icon-detail .icon-det{
    font-size:2em;
    vertical-align: middle;
    margin-right:10px;
}

#Announce {
    margin: auto;
    padding-top: 2em;
    width: 28em;
}

/*#tableAnnounce {*/

/*padding-top:4em;*/

/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size:1em;
    padding:1.5em;
    padding-left: 4em; 
    padding-right: 4em; 
    border: 1px solid #b8b8b8;
    background:#fff;*/

/*border-radius: 10px;  
    margin-top: 10px; */

/*}*/

.container-announce { padding: 2em; }

#titolo {
    color: #FFC107;
    margin-left:1em;
}