@using System.Threading.Tasks
@using Cianfrusaglie.Constants
@model Cianfrusaglie.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "";
}


<html>
<head>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Search.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">


</head>
<body>
    <div id="wrapper-advanced">
        <div id="title" class="col-md-3" >
            <a href="~/">
                <h1>
                    @CommonStrings.SiteName
                </h1>
                <h5>Il posto giusto per le tue cianfrusaglie</h5>
            </a>
        </div>
    </div>

</body>
</html>