@model  IEnumerable< Announce > 

@{
    ViewData[ "Title" ] = "Index";
}

@functions {

    public User GetAutore( string AuthorId ) {
        foreach( var user in ViewData[ "listUsers" ] as List< User > ) {
            if( user.Id == AuthorId )
                return user;
        }
        return null;
    }

    public string GetImages( int AnnounceId ) {
        foreach( var imm in ViewData[ "listImages" ] as List< ImageUrl > ) {
            if( imm.AnnounceId == AnnounceId )
                return imm.Url;
        }
        return null;
    }

}


<div class="container" >


    <div class="row" >

        @foreach( var annuncio in Model ) {
            <div class="col-sm-3" >
                <div class="col-item" >
                    <div class="photo" >
                        <img src="@GetImages( annuncio.Id )" class="img-responsive" />
                    </div>
                    <div class="info" >


                        <h5>
                            @annuncio.Title
                        </h5>
                        @if( annuncio.Price == 0 ) {
                            <h5 class="price-text-color" >IN REGALO</h5>
                        } else {
                            <h5 class="price-text-color" >Prezzo: @annuncio.Price</h5>
                        }


                        <div class="price" >
                            <br />
                            <h5>Autore: @GetAutore( annuncio.AuthorId ).UserName</h5>
                            <br />
                        </div>
                        <div class="separator clear-left" >
                            @if( !User.Identity.IsAuthenticated ) {
                                <p class="btn-add" >
                                    <i class="fa fa-shopping-cart" ></i>
                                    <a data-target="#myWindow" data-toggle="modal" href="#" >Dettagli</a>
                                </p>
                                <p class="btn-details" >
                                    <i class="fa fa-list" ></i><a class="" data-target="#myWindow" data-toggle="modal" href="#" >Contatta</a>
                                </p>
                            } else {
                                <p class="btn-add" >
                                    <i class="fa fa-shopping-cart" ></i>
                                    <a href="~/Announces/Details/?id=@annuncio.Id" class="" >Dettagli</a>
                                </p>
                                <p class="btn-details" >
                                    <i class="fa fa-list" ></i><a href="~/Messages/Details/?id=@annuncio.AuthorId" class="" >Contatta</a>
                                </p>
                            }
                        </div>
                        <div class="clearfix" ></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>